.contact {
    display: flex;
    // margin: 4rem 20rem ;
    gap: 3rem;
    .right {
        img {
            height: 25rem;
            width: 23rem;
            object-fit: cover;
        }
    }
    .left {
        .title {
            .bar {
                height: 0.5rem;
                width: 5rem;
                background: transparent;
                margin-bottom: 1rem;
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 2rem 0;
            gap: 1rem;
            // input {
            //     padding: 0.8rem 7rem 0.8rem 0.8rem;
            //     background-color: transparent;
            //     border: 1px solid rgb(129, 128, 128);
            //     color: white;
            //     outline: none;
            // }
            // textarea {
            //     padding: 0.8rem 7rem 0.8rem 0.8rem;
            //     background-color: transparent;
            //     border: 1px solid rgb(129, 128, 128);
            //     color: white;
            //     outline: none;
            // }

            input, textarea{
                width: 100%;
                border: 1px solid rgb(129, 128, 128);
                outline: none;
                background-color: transparent;
                padding: 10px;
                margin: 8px 0px;
                color: white;
                font-size: 15px;
                border-radius: 6px;
            }
        }
        button{
            margin-top: 1rem;
        }
        span {
            margin-top: 5px;
            @include gradientText;
        }
    }
}
