.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  height: 95vh;
  margin-top: 3rem;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    .title {
      h1 {
        @include gradientText;
        font-size: 5vw;
      }
      h2{
        font-size: 3rem;
        color: white;
      }
    }
    .links {
      ul {
          display: flex;
          align-items: center;
          gap: 2px;
          
          li {
              a {
                  cursor: pointer;
                  text-decoration: none;
                  color: inherit;
                  &:hover {
                      @include gradientText;
                  }
                 
              }
          }
          button {
              padding: 0.5rem;
          }
      }
  }
  }
  .image {
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      height: 85vh;
      width: 50vw;
      object-fit: cover;
    }
  }
}


@media screen and (min-width: 280px) and (max-width: 1080px) {
  .hero {
    margin: 0 10vw;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    gap: 2rem;
    .content {
      align-items: center;
      gap: 1.5rem;
      .title {
        h1 {
          font-size: 3rem;
          text-align: center;
        }
        h2{
          font-size: 2rem;
          text-align: center;
        }
      }
      button{
        margin-top: 1rem;
      }
    }
    .image {
      position: initial;
      margin-top: 4.5rem;
      height: 20rem;
      img {
        position: initial;
        height: 100%;
        width: 100%;
      }
    }
  }
}