.navbar{
    width: -webkit-fill-available;
    z-index: 1;
    left: 0;
    top: 0;
    position: fixed;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2rem;
    background-color: #211e1e;

    .brand__container {
        display: flex;
        .toggle {
            display: none;
            cursor: pointer;
        }
    }
    .links {
        ul {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            
            li {
                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: inherit;
                    &:hover {
                        @include gradientText;
                    }
                   
                }
            }
            button {
                padding: 0.5rem;
            }
        }
    }
}

// responsive navbar 

.show {
    opacity: 1 !important;
    visibility: visible !important;
    right: 0 !important;
}

.responsive__navbar {
    position: fixed;
    top: 0;
    right: -350px;
    height: 100%;
    width: 25%;
    background-color: #211e1e;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
    color: white;
    padding: 2rem 0;
    .brand {
        display: flex;
        margin-bottom: 1.5rem;
        h2 {
            font-size: 1.2rem;
        }
    }
    .links {
        ul {
            margin: 1vw;
            li {
                margin: 2.5vh;
                a {
                    text-decoration: none;
                    color: inherit;
                }
                font-size: 2.5vh;
                cursor: pointer;
            }
            ul {
                display: flex;
            }
        }
        
    }
}